<h1>Welcome, <%= @user.email %>. This is your profile</h1>
<h3>Your Subscriptions:</h3>
<ul class="subscriptions">
  <% @user.subscriptions.each do |sub| %>
    <div class="row">
      <li class="subscription" id="<%= dom_id(sub)%>">
        <%= "#{sub.twitter_handle}: #{sub.phrase}" %>
        <%= link_to 'Edit', edit_user_subscription_path(@user, sub) %>
        <%= link_to 'Delete', user_subscription_path(@user, sub), method: :delete %>
      </li>
    </div>
  <% end %>
</ul>
<%= link_to "New Subscription", new_user_subscription_path(@user) %>
