<!DOCTYPE html>
<html>
<head>
  <title>FirstToKnow</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <%= render 'layouts/nav_bar' %>
    <%- flash.each do |key, value| -%>
      <div class="callout <%= key %>">
        <%= value %>
      </div>
    <%- end -%>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
  </div>
</body>
</html>
